
#
# General setup
#
# CONFIG_EXPERT is not set
CONFIG_LOCALVERSION=""
CONFIG_CBFS_PREFIX="fallback"
# CONFIG_ALT_CBFS_LOAD_PAYLOAD is not set
CONFIG_COMPILER_GCC=y
# CONFIG_COMPILER_LLVM_CLANG is not set
# CONFIG_SCANBUILD_ENABLE is not set
# CONFIG_CCACHE is not set
CONFIG_COMPRESS_RAMSTAGE=n
CONFIG_INCLUDE_CONFIG_FILE=y
# CONFIG_EARLY_CBMEM_INIT is not set
# CONFIG_DYNAMIC_CBMEM is not set
# CONFIG_COLLECT_TIMESTAMPS is not set
# CONFIG_USE_BLOBS is not set
# CONFIG_COVERAGE is not set

#
# Mainboard
#
# CONFIG_VENDOR_AAEON is not set
# CONFIG_VENDOR_ABIT is not set
# CONFIG_VENDOR_ADLINK is not set
# CONFIG_VENDOR_ADVANSUS is not set
# CONFIG_VENDOR_ADVANTECH is not set
# CONFIG_VENDOR_AMD is not set
# CONFIG_VENDOR_AOPEN is not set
# CONFIG_VENDOR_ARIMA is not set
# CONFIG_VENDOR_ARTECGROUP is not set
# CONFIG_VENDOR_ASI is not set
# CONFIG_VENDOR_ASROCK is not set
# CONFIG_VENDOR_ASUS is not set
# CONFIG_VENDOR_A_TREND is not set
# CONFIG_VENDOR_AVALUE is not set
# CONFIG_VENDOR_AXUS is not set
# CONFIG_VENDOR_AZZA is not set
# CONFIG_VENDOR_BACHMANN is not set
# CONFIG_VENDOR_BCOM is not set
# CONFIG_VENDOR_BIFFEROS is not set
# CONFIG_VENDOR_BIOSTAR is not set
# CONFIG_VENDOR_BROADCOM is not set
# CONFIG_VENDOR_COMPAQ is not set
# CONFIG_VENDOR_DIGITALLOGIC is not set
CONFIG_VENDOR_DMP=y
# CONFIG_VENDOR_EAGLELION is not set
# CONFIG_VENDOR_ECS is not set
# CONFIG_VENDOR_EMULATION is not set
# CONFIG_VENDOR_GETAC is not set
# CONFIG_VENDOR_GIGABYTE is not set
# CONFIG_VENDOR_GOOGLE is not set
# CONFIG_VENDOR_HP is not set
# CONFIG_VENDOR_IBASE is not set
# CONFIG_VENDOR_IBM is not set
# CONFIG_VENDOR_IEI is not set
# CONFIG_VENDOR_INTEL is not set
# CONFIG_VENDOR_IWAVE is not set
# CONFIG_VENDOR_IWILL is not set
# CONFIG_VENDOR_JETWAY is not set
# CONFIG_VENDOR_KONTRON is not set
# CONFIG_VENDOR_LANNER is not set
# CONFIG_VENDOR_LENOVO is not set
# CONFIG_VENDOR_LIPPERT is not set
# CONFIG_VENDOR_MITAC is not set
# CONFIG_VENDOR_MSI is not set
# CONFIG_VENDOR_NEC is not set
# CONFIG_VENDOR_NEWISYS is not set
# CONFIG_VENDOR_NOKIA is not set
# CONFIG_VENDOR_NVIDIA is not set
# CONFIG_VENDOR_PCENGINES is not set
# CONFIG_VENDOR_RCA is not set
# CONFIG_VENDOR_RODA is not set
# CONFIG_VENDOR_SAMSUNG is not set
# CONFIG_VENDOR_SIEMENS is not set
# CONFIG_VENDOR_SOYO is not set
# CONFIG_VENDOR_SUNW is not set
# CONFIG_VENDOR_SUPERMICRO is not set
# CONFIG_VENDOR_TECHNEXION is not set
# CONFIG_VENDOR_TECHNOLOGIC is not set
# CONFIG_VENDOR_TELEVIDEO is not set
# CONFIG_VENDOR_TI is not set
# CONFIG_VENDOR_THOMSON is not set
# CONFIG_VENDOR_TRAVERSE is not set
# CONFIG_VENDOR_TYAN is not set
# CONFIG_VENDOR_VIA is not set
# CONFIG_VENDOR_WINENT is not set
# CONFIG_VENDOR_WYSE is not set
CONFIG_BOARD_SPECIFIC_OPTIONS=y
CONFIG_MAINBOARD_DIR="dmp/vortex86ex"
CONFIG_MAINBOARD_PART_NUMBER="Vortex86EX"
CONFIG_IRQ_SLOT_COUNT=12
CONFIG_MAINBOARD_VENDOR="DMP"
CONFIG_MAX_CPUS=1
CONFIG_RAMTOP=0x200000
CONFIG_HEAP_SIZE=0x4000
CONFIG_RAMBASE=0x100000
# CONFIG_DRIVERS_PS2_KEYBOARD is not set
# CONFIG_ONBOARD_VGA_IS_PRIMARY is not set
# CONFIG_VGA_BIOS is not set
# CONFIG_CONSOLE_POST is not set
# CONFIG_PCI_ROM_RUN is not set
# CONFIG_UDELAY_IO is not set
CONFIG_SERIAL_CPU_INIT=y
CONFIG_ACPI_SSDTX_NUM=0
# CONFIG_PCI_64BIT_PREF_MEM is not set
CONFIG_BOARD_DMP_EX=y
CONFIG_ID_SECTION_OFFSET=0x4800
# CONFIG_PLL_200_200_33 is not set
# CONFIG_PLL_300_300_33 is not set
CONFIG_PLL_300_300_100=y
# CONFIG_PLL_400_200_33 is not set
# CONFIG_PLL_400_200_100 is not set
# CONFIG_PLL_400_400_33 is not set
# CONFIG_PLL_500_250_33 is not set
# CONFIG_PLL_500_500_33 is not set
# CONFIG_PLL_400_300_33 is not set
# CONFIG_PLL_400_300_100 is not set
# CONFIG_PLL_444_333_33 is not set
# CONFIG_PLL_466_350_33 is not set
# CONFIG_PLL_500_375_33 is not set

#
# On-Chip Device Power Down Control
#
# CONFIG_TEMP_POWERDOWN is not set
CONFIG_SATA_POWERDOWN=y
# CONFIG_ADC_POWERDOWN is not set
# CONFIG_PCIE0_POWERDOWN is not set
# CONFIG_MAC_POWERDOWN is not set
# CONFIG_USB1_POWERDOWN is not set
# CONFIG_IDE_POWERDOWN is not set

#
# Watchdog Timer setting
#
# CONFIG_WDT1_INITIALIZE is not set

#
# IDE controller setting
#
CONFIG_IDE_NATIVE_MODE=y
# CONFIG_IDE_LEGACY_MODE is not set
CONFIG_IDE1_ENABLE=y
# CONFIG_IDE2_ENABLE is not set
# CONFIG_IDE_STANDARD_COMPATIBLE is not set

#
# GPIO setting
#
# CONFIG_GPIO_P0_ENABLE is not set
# CONFIG_GPIO_P1_ENABLE is not set
# CONFIG_GPIO_P2_ENABLE is not set
# CONFIG_GPIO_P3_ENABLE is not set
# CONFIG_GPIO_P4_ENABLE is not set
# CONFIG_GPIO_P5_ENABLE is not set
# CONFIG_GPIO_P6_ENABLE is not set
# CONFIG_GPIO_P7_ENABLE is not set
# CONFIG_GPIO_P8_ENABLE is not set
# CONFIG_GPIO_P9_ENABLE is not set

#
# UART setting
#
CONFIG_UART1_ENABLE=y
CONFIG_UART1_IO_PORT_3F8=y
# CONFIG_UART1_IO_PORT_2F8 is not set
# CONFIG_UART1_IO_PORT_3E8 is not set
# CONFIG_UART1_IO_PORT_2E8 is not set
# CONFIG_UART1_IO_PORT_OTHER is not set
CONFIG_UART1_IO=0x3f8
# CONFIG_UART1_IRQ_DISABLE is not set
# CONFIG_UART1_IRQ3 is not set
CONFIG_UART1_IRQ4=y
# CONFIG_UART1_IRQ5 is not set
# CONFIG_UART1_IRQ6 is not set
# CONFIG_UART1_IRQ7 is not set
# CONFIG_UART1_IRQ9 is not set
# CONFIG_UART1_IRQ10 is not set
# CONFIG_UART1_IRQ11 is not set
# CONFIG_UART1_IRQ12 is not set
# CONFIG_UART1_IRQ14 is not set
# CONFIG_UART1_IRQ15 is not set
CONFIG_UART1_IRQ=4
CONFIG_UART1_BAUD_115200=y
# CONFIG_UART1_BAUD_57600 is not set
# CONFIG_UART1_BAUD_38400 is not set
# CONFIG_UART1_BAUD_19200 is not set
# CONFIG_UART1_BAUD_9600 is not set
CONFIG_UART1_BAUD=115200
CONFIG_UART2_ENABLE=y
# CONFIG_UART2_IO_PORT_3F8 is not set
CONFIG_UART2_IO_PORT_2F8=y
# CONFIG_UART2_IO_PORT_3E8 is not set
# CONFIG_UART2_IO_PORT_2E8 is not set
# CONFIG_UART2_IO_PORT_OTHER is not set
CONFIG_UART2_IO=0x2f8
# CONFIG_UART2_IRQ_DISABLE is not set
CONFIG_UART2_IRQ3=y
# CONFIG_UART2_IRQ4 is not set
# CONFIG_UART2_IRQ5 is not set
# CONFIG_UART2_IRQ6 is not set
# CONFIG_UART2_IRQ7 is not set
# CONFIG_UART2_IRQ9 is not set
# CONFIG_UART2_IRQ10 is not set
# CONFIG_UART2_IRQ11 is not set
# CONFIG_UART2_IRQ12 is not set
# CONFIG_UART2_IRQ14 is not set
# CONFIG_UART2_IRQ15 is not set
CONFIG_UART2_IRQ=3
CONFIG_UART2_BAUD_115200=y
# CONFIG_UART2_BAUD_57600 is not set
# CONFIG_UART2_BAUD_38400 is not set
# CONFIG_UART2_BAUD_19200 is not set
# CONFIG_UART2_BAUD_9600 is not set
CONFIG_UART2_BAUD=115200
CONFIG_UART3_ENABLE=n
# CONFIG_UART3_IO_PORT_3F8 is not set
# CONFIG_UART3_IO_PORT_2F8 is not set
# CONFIG_UART3_IO_PORT_3E8=y
# CONFIG_UART3_IO_PORT_2E8 is not set
# CONFIG_UART3_IO_PORT_OTHER is not set
# CONFIG_UART3_IO=0x3e8
# CONFIG_UART3_IRQ_DISABLE is not set
# CONFIG_UART3_IRQ3 is not set
# CONFIG_UART3_IRQ4=y
# CONFIG_UART3_IRQ5 is not set
# CONFIG_UART3_IRQ6 is not set
# CONFIG_UART3_IRQ7 is not set
# CONFIG_UART3_IRQ9 is not set
# CONFIG_UART3_IRQ10 is not set
# CONFIG_UART3_IRQ11 is not set
# CONFIG_UART3_IRQ12 is not set
# CONFIG_UART3_IRQ14 is not set
# CONFIG_UART3_IRQ15 is not set
# CONFIG_UART3_IRQ=4
# CONFIG_UART3_BAUD_115200=y
# CONFIG_UART3_BAUD_57600 is not set
# CONFIG_UART3_BAUD_38400 is not set
# CONFIG_UART3_BAUD_19200 is not set
# CONFIG_UART3_BAUD_9600 is not set
# CONFIG_UART3_BAUD=115200
CONFIG_UART4_ENABLE=n
# CONFIG_UART4_IO_PORT_3F8 is not set
# CONFIG_UART4_IO_PORT_2F8 is not set
# CONFIG_UART4_IO_PORT_3E8 is not set
# CONFIG_UART4_IO_PORT_2E8 is not set
# CONFIG_UART4_IO_PORT_OTHER=y
# CONFIG_UART4_IO_PORT_OTHER_INPUT=0x260
# CONFIG_UART4_IO=0x260
# CONFIG_UART4_IRQ_DISABLE is not set
# CONFIG_UART4_IRQ3=y
# CONFIG_UART4_IRQ4 is not set
# CONFIG_UART4_IRQ5 is not set
# CONFIG_UART4_IRQ6 is not set
# CONFIG_UART4_IRQ7 is not set
# CONFIG_UART4_IRQ9 is not set
# CONFIG_UART4_IRQ10 is not set
# CONFIG_UART4_IRQ11 is not set
# CONFIG_UART4_IRQ12 is not set
# CONFIG_UART4_IRQ14 is not set
# CONFIG_UART4_IRQ15 is not set
# CONFIG_UART4_IRQ=3
# CONFIG_UART4_BAUD_115200=y
# CONFIG_UART4_BAUD_57600 is not set
# CONFIG_UART4_BAUD_38400 is not set
# CONFIG_UART4_BAUD_19200 is not set
# CONFIG_UART4_BAUD_9600 is not set
# CONFIG_UART4_BAUD=115200
CONFIG_UART5_ENABLE=n
CONFIG_UART6_ENABLE=n
# CONFIG_UART6_IO_PORT_3F8 is not set
# CONFIG_UART6_IO_PORT_2F8 is not set
# CONFIG_UART6_IO_PORT_3E8 is not set
# CONFIG_UART6_IO_PORT_2E8=y
# CONFIG_UART6_IO_PORT_OTHER is not set
# CONFIG_UART6_IO=0x2e8
# CONFIG_UART6_IRQ_DISABLE is not set
# CONFIG_UART6_IRQ3 is not set
# CONFIG_UART6_IRQ4 is not set
# CONFIG_UART6_IRQ5 is not set
# CONFIG_UART6_IRQ6 is not set
# CONFIG_UART6_IRQ7 is not set
# CONFIG_UART6_IRQ9 is not set
# CONFIG_UART6_IRQ10 is not set
# CONFIG_UART6_IRQ11 is not set
# CONFIG_UART6_IRQ12=y
# CONFIG_UART6_IRQ14 is not set
# CONFIG_UART6_IRQ15 is not set
# CONFIG_UART6_IRQ=12
# CONFIG_UART6_BAUD_115200=y
# CONFIG_UART6_BAUD_57600 is not set
# CONFIG_UART6_BAUD_38400 is not set
# CONFIG_UART6_BAUD_19200 is not set
# CONFIG_UART6_BAUD_9600 is not set
# CONFIG_UART6_BAUD=115200
CONFIG_UART7_ENABLE=n
CONFIG_UART8_ENABLE=n
CONFIG_UART9_ENABLE=n
# CONFIG_UART9_IO_PORT_3F8 is not set
# CONFIG_UART9_IO_PORT_2F8 is not set
# CONFIG_UART9_IO_PORT_3E8 is not set
# CONFIG_UART9_IO_PORT_2E8 is not set
# CONFIG_UART9_IO_PORT_OTHER=y
# CONFIG_UART9_IO_PORT_OTHER_INPUT=0x3e0
# CONFIG_UART9_IO=0x3e0
# CONFIG_UART9_IRQ_DISABLE is not set
# CONFIG_UART9_IRQ3 is not set
# CONFIG_UART9_IRQ4=y
# CONFIG_UART9_IRQ5 is not set
# CONFIG_UART9_IRQ6 is not set
# CONFIG_UART9_IRQ7 is not set
# CONFIG_UART9_IRQ9 is not set
# CONFIG_UART9_IRQ10 is not set
# CONFIG_UART9_IRQ11 is not set
# CONFIG_UART9_IRQ12 is not set
# CONFIG_UART9_IRQ14 is not set
# CONFIG_UART9_IRQ15 is not set
# CONFIG_UART9_IRQ=4
# CONFIG_UART9_BAUD_115200=y
# CONFIG_UART9_BAUD_57600 is not set
# CONFIG_UART9_BAUD_38400 is not set
# CONFIG_UART9_BAUD_19200 is not set
# CONFIG_UART9_BAUD_9600 is not set
# CONFIG_UART9_BAUD=115200
CONFIG_UART10_ENABLE=n

#
# LPT setting
#
# CONFIG_LPT_ENABLE is not set
# CONFIG_XIP_ROM_SIZE=0x200000
CONFIG_XIP_ROM_SIZE=0x100000
# CONFIG_XIP_ROM_SIZE=0x80000
# CONFIG_XIP_ROM_SIZE=0x40000
# CONFIG_MMCONF_SUPPORT_DEFAULT is not set
CONFIG_MAINBOARD_SMBIOS_MANUFACTURER="DMP"
# CONFIG_POWER_BUTTON_FORCE_ENABLE is not set
CONFIG_LOGICAL_CPUS=y
# CONFIG_IOAPIC is not set
# CONFIG_SMP is not set
CONFIG_TTYS0_BAUD=115200
CONFIG_TTYS0_BASE=0x2f8
CONFIG_TTYS0_LCS=3
CONFIG_DEFAULT_CONSOLE_LOGLEVEL=0
CONFIG_CONSOLE_SERIAL8250=y
# CONFIG_K8_REV_F_SUPPORT is not set
CONFIG_CPU_ADDR_BITS=32
# CONFIG_BOARD_ROMSIZE_KB_256=y
# CONFIG_BOARD_ROMSIZE_KB_512=y
CONFIG_BOARD_ROMSIZE_KB_1024=y
# CONFIG_BOARD_ROMSIZE_KB_2048=y
# CONFIG_COREBOOT_ROMSIZE_KB_64 is not set
# CONFIG_COREBOOT_ROMSIZE_KB_128 is not set
# CONFIG_COREBOOT_ROMSIZE_KB_256 is not set
# CONFIG_COREBOOT_ROMSIZE_KB_512 is not set
CONFIG_COREBOOT_ROMSIZE_KB_1024=y
# CONFIG_COREBOOT_ROMSIZE_KB_2048 is not set
# CONFIG_COREBOOT_ROMSIZE_KB_4096 is not set
# CONFIG_COREBOOT_ROMSIZE_KB_8192 is not set
# CONFIG_COREBOOT_ROMSIZE_KB_16384 is not set
# CONFIG_COREBOOT_ROMSIZE_KB=256
# CONFIG_COREBOOT_ROMSIZE_KB=512
CONFIG_COREBOOT_ROMSIZE_KB=1024
# CONFIG_COREBOOT_ROMSIZE_KB=2048
# CONFIG_ROM_SIZE=0x40000
# CONFIG_ROM_SIZE=0x80000
CONFIG_ROM_SIZE=0x100000
# CONFIG_ROM_SIZE=0x200000
CONFIG_MAINBOARD_SERIAL_NUMBER="123456789"
CONFIG_MAINBOARD_VERSION="1.0"
CONFIG_MAINBOARD_SMBIOS_PRODUCT_NAME="Vortex86EX"
CONFIG_ARCH_X86=y
# CONFIG_ARCH_ARMV7 is not set

#
# Architecture (x86)
#
CONFIG_X86_ARCH_OPTIONS=y
# CONFIG_MARK_GRAPHICS_MEM_WRCOMB is not set
# CONFIG_SIPI_VECTOR_IN_ROM is not set
CONFIG_STACK_SIZE=0x1000
CONFIG_MAX_REBOOT_CNT=3
CONFIG_NUM_IPI_STARTS=2
CONFIG_X86_BOOTBLOCK_SIMPLE=y
# CONFIG_X86_BOOTBLOCK_NORMAL is not set
CONFIG_BOOTBLOCK_SOURCE="bootblock_simple.c"
# CONFIG_UPDATE_IMAGE is not set
CONFIG_ROMCC=y
CONFIG_PC80_SYSTEM=y
# CONFIG_HAVE_CMOS_DEFAULT is not set
CONFIG_IOAPIC_INTERRUPTS_ON_FSB=y
# CONFIG_IOAPIC_INTERRUPTS_ON_APIC_SERIAL_BUS is not set
CONFIG_HPET_ADDRESS=0xfed00000
CONFIG_HAVE_ARCH_MEMSET=y
CONFIG_HAVE_ARCH_MEMCPY=y
CONFIG_HAVE_ARCH_MEMMOVE=y

#
# Chipset
#

#
# CPU
#
# CONFIG_CPU_AMD_AGESA is not set
CONFIG_HAVE_INIT_TIMER=y
CONFIG_HIGH_SCRATCH_MEMORY_SIZE=0x0
CONFIG_CPU_DMP_VORTEX86EX=y
CONFIG_SMM_TSEG_SIZE=0
# CONFIG_SSE2 is not set
# CONFIG_CPU_INTEL_FIRMWARE_INTERFACE_TABLE is not set
# CONFIG_UDELAY_LAPIC is not set
CONFIG_UDELAY_TSC=y
# CONFIG_TSC_CONSTANT_RATE is not set
# CONFIG_TSC_MONOTONIC_TIMER is not set
# CONFIG_UDELAY_TIMER2 is not set
# CONFIG_TSC_CALIBRATE_WITH_IO is not set
# CONFIG_TSC_SYNC_LFENCE is not set
# CONFIG_TSC_SYNC_MFENCE is not set
# CONFIG_CACHE_ROM is not set
# CONFIG_SMM_TSEG is not set
# CONFIG_X86_AMD_FIXED_MTRRS is not set
# CONFIG_CACHE_AS_RAM is not set
CONFIG_AP_SIPI_VECTOR=0xfffff000
# CONFIG_CPU_MICROCODE_IN_CBFS is not set
# CONFIG_CPU_MICROCODE_CBFS_GENERATE is not set
# CONFIG_CPU_MICROCODE_CBFS_EXTERNAL is not set
CONFIG_CPU_MICROCODE_CBFS_NONE=y

#
# Northbridge
#
CONFIG_VIDEO_MB=0
# CONFIG_NORTHBRIDGE_AMD_AGESA is not set
# CONFIG_AMD_NB_CIMX is not set
# CONFIG_NORTHBRIDGE_AMD_CIMX_RD890 is not set
CONFIG_NORTHBRIDGE_DMP_VORTEX86EX=y
# CONFIG_CBFS_SIZE=0x40000
# CONFIG_CBFS_SIZE=0x80000
CONFIG_CBFS_SIZE=0x100000
# CONFIG_CBFS_SIZE=0x200000
CONFIG_MAX_PIRQ_LINKS=4

#
# Southbridge
#
# CONFIG_AMD_SB_CIMX is not set
# CONFIG_SOUTHBRIDGE_AMD_CIMX_SB800 is not set
# CONFIG_SOUTHBRIDGE_AMD_CIMX_SB900 is not set
CONFIG_AMD_SB_SPI_TX_LEN=4
# CONFIG_SPI_FLASH is not set
CONFIG_SOUTHBRIDGE_DMP_VORTEX86EX=y
# CONFIG_SOUTHBRIDGE_INTEL_COMMON is not set

#
# Super I/O
#

#
# Embedded Controllers
#

#
# Devices
#
# CONFIG_MAINBOARD_HAS_NATIVE_VGA_INIT is not set
# CONFIG_VGA_ROM_RUN is not set
CONFIG_ON_DEVICE_ROM_RUN=y
# CONFIG_MULTIPLE_VGA_ADAPTERS is not set
CONFIG_PCI=y
# CONFIG_HYPERTRANSPORT_PLUGIN_SUPPORT is not set
CONFIG_PCIX_PLUGIN_SUPPORT=y
CONFIG_PCIEXP_PLUGIN_SUPPORT=y
CONFIG_AGP_PLUGIN_SUPPORT=y
CONFIG_CARDBUS_PLUGIN_SUPPORT=y
CONFIG_AZALIA_PLUGIN_SUPPORT=y
# CONFIG_PCIEXP_COMMON_CLOCK is not set
# CONFIG_PCIEXP_ASPM is not set
CONFIG_PCI_BUS_SEGN_BITS=0

#
# VGA BIOS
#

#
# PXE ROM
#
# CONFIG_PXE_ROM is not set

#
# Generic Drivers
#
# CONFIG_IPMI_KCS is not set
# CONFIG_DRIVER_MAXIM_MAX77686 is not set
# CONFIG_DRIVERS_OXFORD_OXPCIE is not set
# CONFIG_DRIVER_PARADE_PS8625 is not set
# CONFIG_TPM is not set
# CONFIG_RTL8168_ROM_DISABLE is not set
# CONFIG_DRIVERS_SIL_3114 is not set
# CONFIG_DRIVER_TI_TPS65090 is not set
# CONFIG_MMCONF_SUPPORT is not set

#
# Console
#
CONFIG_EARLY_CONSOLE=y
CONFIG_SQUELCH_EARLY_SMP=y
CONFIG_CONSOLE_SERIAL=y
# CONFIG_CONSOLE_SERIAL_COM1 is not set
CONFIG_CONSOLE_SERIAL_COM2=y
# CONFIG_CONSOLE_SERIAL_COM3 is not set
# CONFIG_CONSOLE_SERIAL_COM4 is not set
CONFIG_CONSOLE_SERIAL_115200=y
# CONFIG_CONSOLE_SERIAL_57600 is not set
# CONFIG_CONSOLE_SERIAL_38400 is not set
# CONFIG_CONSOLE_SERIAL_19200 is not set
# CONFIG_CONSOLE_SERIAL_9600 is not set
# CONFIG_SPKMODEM is not set
# CONFIG_HAVE_USBDEBUG is not set
# CONFIG_HAVE_USBDEBUG_OPTIONS is not set
# CONFIG_USBDEBUG_IN_ROMSTAGE is not set
# CONFIG_CONSOLE_NE2K is not set
# CONFIG_CONSOLE_CBMEM is not set
# CONFIG_DEFAULT_CONSOLE_LOGLEVEL_8 is not set
# CONFIG_DEFAULT_CONSOLE_LOGLEVEL_7 is not set
# CONFIG_DEFAULT_CONSOLE_LOGLEVEL_6 is not set
# CONFIG_DEFAULT_CONSOLE_LOGLEVEL_5 is not set
# CONFIG_DEFAULT_CONSOLE_LOGLEVEL_4 is not set
# CONFIG_DEFAULT_CONSOLE_LOGLEVEL_3 is not set
# CONFIG_DEFAULT_CONSOLE_LOGLEVEL_2 is not set
# CONFIG_DEFAULT_CONSOLE_LOGLEVEL_1 is not set
CONFIG_DEFAULT_CONSOLE_LOGLEVEL_0=y
# CONFIG_CONSOLE_LOGBUF is not set
# CONFIG_NO_POST is not set
# CONFIG_CMOS_POST is not set
CONFIG_IO_POST=y
CONFIG_IO_POST_PORT=0x80
CONFIG_HAVE_UART_IO_MAPPED=y
# CONFIG_HAVE_UART_MEMORY_MAPPED is not set
# CONFIG_HAVE_UART_SPECIAL is not set
# CONFIG_HAVE_ACPI_RESUME is not set
# CONFIG_HAVE_ACPI_SLIC is not set
CONFIG_HAVE_HARD_RESET=y
# CONFIG_HAVE_MONOTONIC_TIMER is not set
# CONFIG_HAVE_OPTION_TABLE is not set
# CONFIG_PIRQ_ROUTE is not set
# CONFIG_HAVE_SMI_HANDLER is not set
# CONFIG_PCI_IO_CFG_EXT is not set
# CONFIG_CACHE_ROM_SIZE=0x40000
# CONFIG_CACHE_ROM_SIZE=0x80000
CONFIG_CACHE_ROM_SIZE=0x100000
# CONFIG_CACHE_ROM_SIZE=0x200000
# CONFIG_USE_WATCHDOG_ON_BOOT is not set
# CONFIG_VGA is not set
# CONFIG_GFXUMA is not set
# CONFIG_RELOCATABLE_MODULES is not set
CONFIG_HAVE_PIRQ_TABLE=y

#
# System tables
#
CONFIG_MULTIBOOT=y
# CONFIG_GENERATE_ACPI_TABLES is not set
# CONFIG_GENERATE_MP_TABLE is not set
CONFIG_GENERATE_PIRQ_TABLE=y
CONFIG_GENERATE_SMBIOS_TABLES=y

#
# Payload
#
# CONFIG_PAYLOAD_NONE is not set
CONFIG_PAYLOAD_ELF=y
# CONFIG_PAYLOAD_LINUX is not set
# CONFIG_PAYLOAD_SEABIOS is not set
# CONFIG_PAYLOAD_FILO is not set
# CONFIG_PAYLOAD_TIANOCORE is not set
CONFIG_PAYLOAD_FILE="../seabios/out/bios.bin.elf"
CONFIG_COMPRESSED_PAYLOAD_LZMA=n

#
# Debugging
#
# CONFIG_GDB_STUB is not set
CONFIG_DEBUG_CBFS=n
# CONFIG_HAVE_DEBUG_RAM_SETUP=y
# CONFIG_DEBUG_RAM_SETUP is not set
# CONFIG_HAVE_DEBUG_CAR is not set
# CONFIG_DEBUG_PIRQ is not set
# CONFIG_HAVE_DEBUG_SMBUS is not set
# CONFIG_DEBUG_MALLOC is not set
# CONFIG_DEBUG_ACPI is not set
# CONFIG_TRACE is not set
# CONFIG_RAMINIT_SYSINFO is not set
# CONFIG_ENABLE_APIC_EXT_ID is not set
CONFIG_WARNINGS_ARE_ERRORS=y
# CONFIG_POWER_BUTTON_DEFAULT_ENABLE is not set
# CONFIG_POWER_BUTTON_DEFAULT_DISABLE is not set
# CONFIG_POWER_BUTTON_FORCE_DISABLE is not set
# CONFIG_POWER_BUTTON_IS_OPTIONAL is not set
# CONFIG_CHROMEOS is not set
